<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="/lib/clmtrackr.js"></script>
    <script src="/lib/model_pca_20_svm.js"></script>
    
    <!-- <script src="https://js.leapmotion.com/leap-0.6.4.min.js"></script> -->
    <script src="https://js.leapmotion.com/leap-0.6.4.js"></script>
</head>
<body>

<div id="title"><div id="logo"></div></div>

<audio src="/sound/kirin.mp3" id="sound-logo"></audio>
<audio src="/sound/title.mp3" id="title-sound"></audio>

<script>
  setTimeout(function(){
    $("#logo").show();
    $("#sound-logo").get(0).play();
    
    setTimeout(function(){
      $("#title-sound").get(0).play();
      $("#logo").hide();
      $("#title-logo").show();
    },1000)
  },1000)
  $("#logo").click(function(){
    
  });
</script>

<img src="/images/face_mask.png" alt="" id="face-mask">
<video id="videoel" width="400" height="300" preload="auto" loop></video>
<canvas id="overlay" width="200" height="200"></canvas> 

  <div id="bits">
    <div id="left"></div>
    <div id="right"></div>
  </div>
</body>
<script src="/js/main.js"></script>
<script>
  var motion = new Motion();
  var fr = new FaceRecognition();
</script>
</html>